body{
    overflow: hidden;
}

@font-face {
    font-family: 'Fonte1';
    src: url('font/Cocogoose-Pro-Light-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}    

.container-background{
    height: 100vh;
    background-color: #222831
}

.imagem img{
    position: absolute;
    top: -50px;
    height: 120%;
    margin-left: 44%;
}

.imagem1 img{
    position: absolute;
    top: -50px;
    height: 120%;
    margin-left: -50px;
    opacity: 70%;
}

.container-background p{
    text-align: center;
    width: 80%;
    padding-left:4%;
    font-family: 'Fonte1';
    font-size: 12px;
    color: rgb(0, 126, 228);
}
.container-background img{
    width: 50%;
    margin: 0 auto;
}